# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea
.vscode

# Unit tests
.pytest_cache/
.coverage

# Data
data/train/maps/*
data/test/maps/*
data/valid/maps/*
data/train/planned_maps/*
data/test/planned_maps/*
data/valid/planned_maps/*
!data/maps/*.example.png
!data/planned_maps/*.example.png

# Models
models/*
